<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans >
	<bean id = "triangle" class = "spring.Triangle" init-method="myinit" destroy-method="cleanUp">
		<property name = "pointA" ref = "zeroPoint"/>
		<property name = "pointB" ref = "point2"/>
		<property name = "pointC" ref = "point3"/>
	</bean>
	<bean id = "zeroPoint" class = "spring.Point">
		<property name = "x" value = "0"></property>
		<property name = "y" value = "0"></property>
	</bean>
	<bean id = "point2" class = "spring.Point">
		<property name = "x" value = "-20"></property>
		<property name = "y" value = "0"></property>
	</bean>
	<bean id = "point3" class = "spring.Point">
		<property name = "x" value = "20"></property>
		<property name = "y" value = "0"></property>
	</bean>
</beans>